@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');

html { box-sizing: border-box; font-size: 10px; }
*, *:before, *:after { box-sizing: inherit; }
body, ul, li  { margin: 0; padding: 0; }
li { list-style: none; }
p, h1, h2, h3, h4, h5, h6 { margin-top: 0; }
a { text-decoration: none; }
input { border-style: none; background: transparent; outline: none; }
button { padding: 0; background: none; border: none; outline: none; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);

}

:root {
    --input-background: rgba(57, 63, 84, 0.8);
    --input-text-inactive: #7881A1;
    --input-text-active: #BFD2FF;
   --color: #111fff;
}

.demo-flex-spacer {
  flex-grow: 1;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 100vw;
  padding: 0 15px;
  margin: 0 auto;
}


@keyframes gradient { 
  0%{background-position:0 0}
  100%{background-position:100% 0}
}

.webflow-style-input {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 270px auto;
  border-radius: 2px;
  padding: 1.4rem 2rem 1.6rem;
  background: var(--input-background);
  
}

.webflow-style-input:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
  }

.webflow-style-input input {
  flex-grow: 1;
  color: var(--input-text-active);
  font-size: 1.8rem;
  line-height: 2.4rem;
  vertical-align: middle;
}

.webflow-style-input input::-webkit-input-placeholder {
    color: var(--input-text-inactive);
  }

.webflow-style-input button {
  color: var(--input-text-inactive);
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: color .25s;

}

.webflow-style-input button:hover {
  color: var(--input-text-active);
}

#logo {
  font-size: 10vw;

  color: #fefefe;
  margin-top: 80px;
  font-family: 'Red Hat Display', sans-serif;
 }

 #h3-logo {
   color: #fefefe;
   font-size: 3em;
 }

 @media only screen and (max-width: 400px) {
  #logo{
    font-size: 50px;
  }
}

#logo span {
  background-image: linear-gradient(
    transparent calc(65% - 5px),
    darken(var(--color), 15%) 5px,
  );

  background-size: 0;
  background-repeat: no-repeat;
  display: inline;
  transition: 0.5s ease;
}

#logo:hover span {
  background-size: 100%;
}
  