<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Stop Cláudia</title>
    <link rel="stylesheet" href="../style/to-do-list.css">
</head>

<body>



    <h1>This is "Dont Stop Cláudia", a interactive gamefied to do list! Keep checking your chores so Cláudia keeps
        running!</h1>
    <div>
        <div id="myDIV" class="header">
            <h2>To Do List</h2>
        </div>

        <ul id="myUL">

        </ul>
    </div>

    <div>
        <div id="myDoneTasks" class="header">
            <h2>Accomplished tasks</h2>
        </div>

        <ul id="done-tasks">
            
        </ul>
    </div>

    <script src="../js/to-do-list.js"></script>

</body>

</html>