<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/landing-page-pretty.css">
    <link rel="icon" 
      type="image/png" 
      href="../resources/favicon/fast-forward.svg">
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js">
    </script>
    <link rel="stylesheet" href="../style/index.css">
    <title>Mercury Software</title>
</head>

<body>
    <div class="container">
  
      <div id="intro-container">
      
        <h1 id="logo2">Don't stop me now!</h1>

        <h3 id="h3-logo">keep moving forward</h3>
      </div>
       
        <div class="demo-flex-spacer"></div>
      
        <div class="webflow-style-input">
          <input id="input-login" minlength="4" maxlength="10" class="" type="email" placeholder="Type an username"></input>
          <button type="submit" id="login-button">Enter</button>
        </div>
      
        <div class="demo-flex-spacer"></div>
      
      </div>

    <script type="module" src="../js/index.js"></script>
</body>

</html>