<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/landing-page-pretty.css">
    <title>Welcome to Don't Stop Claudia</title>
</head>

<body>

    <h1>WELCOME! This is "Dont Stop Cláudia"</h1>

    <div class="formwrapper">
        <form action="/tasks.html" method="post">

            <div class=container>
                <label for="uname"><b>Username</b></label>
                <input type="text" minlength="4" maxlength="10" placeholder="Enter Username" name="uname" required>
                <button type="submit">Login</button>
            </div>

        </form>
    </div>

</body>

</html>