<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Tasks</title>
</head>
<body>
    <form action="" method="POST">
        <!-- User can insert indivual tasks and then submit them at once -->
        <input type="text" name="task-input" id="task-input">
        <button id="add-singular-task">Add</button>

        <button type="submit">Let's begin!</button>
    </form>

    <script src=""></script>
</body>
</html>