<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Tasks</title>
</head>
<body>
    <div id="page-container">

        <div id="welcome-div">
            <h1 id="welcome-h1"></h1>
        </div>

        <form action="" method="POST" id="task-form">
            <!-- User can insert indivual tasks and then submit them at once -->
            <div class="input-task-container">
                <input type="text" name="add-task-input" id="add-task-input">
                <button id="add-task-button">Add</button>
            </div>
    
            <button id="submit-button" type="submit">Let's begin!</button>
        </form>
    
        <div id="tasks-list-container"></div>    
    </div>
    
    <script type="module" src="../js/tasks.js"></script>
</body>
</html>