<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" 
      type="image/png" 
      href="../resources/favicon/fast-forward.svg">
    <title>ToDone! Todo List</title>
<link rel="stylesheet" href="../style/landing-page-pretty.css">

    <link rel="stylesheet" href="../style/to-do-list.css">
</head>

<body>

    <h1 id="welcomeH1"></h1>

    <div id="myProgress">
        <div id="myBar"></div>
     </div>
    <div>
        <ul id="myUL"></ul>
    </div>

    <div>
        <div id="myDoneTasks" class="header">
            <h2>Accomplishments</h2>
        </div>

        <ul id="done-tasks">
            
        </ul>
    </div>

    <script src="../js/to-do-list.js"></script>
    <script src ="../js/bar.js"></script>

</body>

</html>